body {
  /* background-image: url("https://images.app.goo.gl/Mt9QMPo63QDNGiSn6"); */
  background-color: rgb(204, 237, 218);
  color: #3b2f2f;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  text-align: center;
}

/* .btn {
  display: block;
  width: 100%;
  font-size: 1.2rem;
  margin: 8px 0;
  padding: 10px, 0;
  background-color: 3b2f2f;
  color: edc9af;
  border: 1px solid;
  border-radius: 8px;
  cursor: pointer;
} */

.center {
  text-align: center;
  margin-right: 24px;
}

.bmiMessage {
  margin: 10px;
}

/* footer {
  background-image: url("https://images.app.goo.gl/Mt9QMPo63QDNGiSn6");
} */
/* 


/* Homepage css */
/* .resources {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 100px;
} */

/* .banner {
  background-image: url("images/footer.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100px; /* Adjust the height as needed */
