body {
  background-color: rgb(204, 237, 218);
  color: #3b2f2f;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.center {
  text-align: center;
  margin-right: 24px;
}

.bmiMessage {
  margin: 10px;
}
